<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Felipe Appio">
<link rel="icon" href="../../favicon.ico">
<title>Guessb</title> {% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
<link href="{% static 'css/home_theme.css' %}" rel="stylesheet">
<link href="{% static 'css/sweet-alert.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{% static 'js/sweet-alert.js' %}"></script>
<script src=""></script>
<script src="{% static 'js/filter.js' %}"></script>
<script type="text/javascript">
	function update() {
		pagina = document.URL.split("/")[document.URL.split("/").length - 2];
		switch (pagina) {
		case 'posts':
			document.getElementById('btn_posts').className = 'active';
			document.getElementById('btn_sobre').className = '';
			break;
		case 'sobre':
			document.getElementById('btn_sobre').className = 'active';
			document.getElementById('btn_posts').className = '';
			break;
		}
		updatePagina();
	}
	function updatePagina() {
		regExp = new RegExp('page=[0-9]');
		if (document.URL.match(regExp)) {
			numeroPagina = document.URL.match(regExp)[0].split('=')[1];
			objetoPaginacao = document.getElementById('paginacao');
			childNodes = objetoPaginacao.childNodes;

			for (i = 0; i < childNodes.length; i++) {
				if (i + 1 != numeroPagina) {
					childNodes[i].className = '';
				} else {
					childNodes[i].className = 'active';
				}
			}

		} else {
			document.getElementById('paginacao').childNodes[0].className = 'active';
		}
	}
</script>
</head>

<body onload="update(); ">
	<div class="container">
		<div class="row clearfix">
			<img alt="Banner" src="{% static 'images/hero_guessb.fw.png' %}"
				style="width: 100%" class="img-rounded">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="../"> <img alt="Logo"
						src="{% static 'images/logo.png' %}"
						style="max-height: 30px; max-width: 120px;">
					</a>
				</div>

				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li id="btn_sobre" onclick="atualiza_classe(this)"><a
							href="../sobre">Sobre</a></li>
						<li id="btn_posts" onclick="atualiza_classe(this)"><a
							href="../posts">Posts</a></li>
					</ul>
				</div>

			</nav>
			{{conteudo_dinamico|safe }}

		</div>

		<footer class="bs-docs-footer" role="contentinfo">
			<div class="container">

				<p>Desenvolvido por Felipe Appio</p>
				<ul class="bs-docs-footer-links text-muted">
					<li>Versão v0.1</li>
					<li>·</li>
					<li><a href="https://github.com/felipexw/tcc-appio">GitHub</a></li>
					<li>·</li>
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>