<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Felipe Appio">
<link rel="icon" href="../../favicon.ico">
<title>Guessb</title> {% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
<link href="{% static 'css/home_theme.css' %}" rel="stylesheet">
<link href="{% static 'css/sweet-alert.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{% static 'js/sweet-alert.js' %}"></script>
<script src=""></script>
<script src="{% static 'js/base.js' %}"></script>

</head>

<body>
	<div class="container">
		<div class="row clearfix">

			<img alt="Banner" src="{% static 'images/hero_guessb.fw.png' %}"
				style="width: 100%" class="img-rounded">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span><span
							class="icon-bar"></span><span class="icon-bar"></span><span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"> <img alt="Logo"
						src="{% static 'images/logo.png' %}"
						style="max-height: 30px; max-width: 120px;">
					</a>
				</div>

				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Logout</a></li>
					</ul>
				</div>

			</nav>
			{{conteudo_dinamico|safe }}
			
		</div>
		
<!-- 		<footer class="bs-docs-footer" role="contentinfo"> -->
<!-- 			<div class="container"> -->
				
<!-- 				<p>Desenvolvido por Felipe Appio</p> -->
<!-- 				<ul class="bs-docs-footer-links text-muted"> -->
<!-- 					<li>Versão v0.1</li> -->
<!-- 					<li>·</li> -->
<!-- 					<li><a href="https://github.com/felipexw/tcc-appio">GitHub</a></li> -->
<!-- 					<li>·</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</footer> -->
		
</body>
</html>