
.loader {
   display: none; 
   position: fixed; 
   top: 0; 
   left: 0; 
   height: 100%; 
   width: 100%; 
   background: rgba( 255, 255, 255, .8 ) url('../img/ajax-loader.gif') 50% 50% no-repeat;
}

.table th, td {
	text-align: center;
}

p {
	font-size: 15px;
}
