<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Felipe Appio">
<link rel="icon" href="../../favicon.ico">
<style type="text/css">
.table th, td {
	text-align: center;
}

p {
	font-size: 15px;
}
</style>
<title>Guessb</title> {% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
<link href="{% static 'css/home_theme.css' %}" rel="stylesheet">
<link href="{% static 'css/sweet-alert.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{% static 'js/sweet-alert.js' %}"></script>
<script src=""></script>
<script src="{% static 'js/filter.js' %}"></script>
</head>

<body onload="update();">

<!-- 	<script> -->
// 		function statusChangeCallback(response) 
// 			if (response.status === 'connected')
// 				showPosts(response.authResponse);		

// 		function checkLoginState() {
// 			FB.getLoginStatus(function(response) {
// 				statusChangeCallback(response);
// 			});
// 		}

// 		window.fbAsyncInit = function() {
// 			FB.init({
// 				appId : '787895154627678',
// 				cookie : true,  
// 				xfbml : true,
// 				version : 'v2.2'
// 			});

// 			FB.getLoginStatus(function(response) {
// 				statusChangeCallback(response);
// 			});
//  		};

// 		(function(d, s, id) {
// 			var js, fjs = d.getElementsByTagName(s)[0];
// 			if (d.getElementById(id))
// 				return;
// 			js = d.createElement(s);
// 			js.id = id;
// 			js.src = "//connect.facebook.net/en_US/sdk.js";
// 			fjs.parentNode.insertBefore(js, fjs);
// 		}(document, 'script', 'facebook-jssdk'));
<!-- 	</script> -->

	<div class="container">
		<div class="row clearfix">
			<img alt="Banner" src="{% static 'images/hero_guessb.fw.png' %}"
				style="width: 100%" class="img-rounded">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							onclick="showNavbar()" data-toggle="collapse"
							data-target="#navbar" aria-expanded="false"
							aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="../"> <img alt="Logo"
							src="{% static 'images/logo.png' %}"
							style="max-height: 30px; max-width: 120px;">
						</a>
					</div>

					<div id="navbar" class="collapse navbar-collapse"
						aria-expanded="true">
						<ul class="nav navbar-nav">
							<li id="btn_sobre" onclick="showAbout()"><a
								href="javascript:void(0)">Sobre</a></li>
							<li id="btn_posts" onclick="showPosts('CAACEdEose0cBAEZBzZCcl7UUycVu5A1lTxr5zxhuQwutaOvX7nTeTYMAqc3RHH2aVauyZAhaAUokBsk4jZAuteGZAdoBOSZCD7zO01003k9u3xttYp7I7TYPyf80rTTzFmLN3SOMy2ntXs6kZBtIFHZAwaFPbK9B9PU8kKpMZAHRaSQyVp4015gJZCcZCbuLjpqAus0DtuAnCTQFOLZAMMqpB9igTwSsTZC3xSagZD', 1)"><a href="javascript:void(0)"> 
<!-- 							  <fb:login-button -->
<!-- 								scope="public_profile,user_friends, -->
<!-- 								 user_status, user_photos, user_posts, -->
<!-- 								  user_videos" onlogin="checkLoginState();"> -->
<!-- 									Posts </fb:login-button> -->
									Posts
							</a></li>
						</ul>
					</div>


				</div>
			</nav>
			<div id="content">{{conteudo_dinamico|safe }}</div>

		</div>

		<footer class="bs-docs-footer" role="contentinfo">
			<div class="container">

				<p>Desenvolvido por Felipe Appio</p>
				<ul class="bs-docs-footer-links text-muted">
					<li>Versão v0.1</li>
					<li>·</li>
					<li><a href="https://github.com/felipexw/guessb">GitHub</a></li>
					<li>·</li>
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>